# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
staticfiles/
media/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
